* {
    margin: 0;
    box-sizing: border-box;
}

.table-layout {
    border: 3px solid #000;
}

tr, td, th {
    border: 1px solid #000;
}

tr, td {
    width: 50%;
    vertical-align: top;
}

.header {
    height: 40px;
    background-color: #ccc;
}

.body {
    height: 120px;
}

.content {
    background-color: rgb(235, 235, 92);
    width: 20%;
}

.content2 {
    width: 60%;
}

.content .content2 {
    font-size: 12px;
}

.active {
    font-weight: 800;
}

.footer {
    text-align: center;
    background-color: #888;
}


