* {
    box-sizing: inherit;
}

html {
    /* HACK */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: Tahoma, Arial, sans-serif;
    box-sizing: border-box;
}

#section_text_2 {
    background-color: #f3f3f3;
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#section_text_2 .pix_button {
    display: block;
    width: 150px;
    height: 46px;
    background-color: #f77825;
    text-align: center;
    line-height: 46px;
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    font-size: 1.4rem;
    border-radius: 4px;
}

#section_header_1 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    height: 100px;
}

#section_header_1 .navbar-left,
#section_header_1 .bottom-icons {
    padding: 0;
    margin: 0;
    list-style: none;
}

#section_header_1 .navbar-left .propClone{
    display: inline-block;
}

#navbar-collapse-02 {
    margin-left: 48px;
}

.navbar-left .propClone a {
    text-decoration: none;
    display: block;
    width: 60px;
    height: 100px;
    line-height: 100px;
    color: #7f7f7f;
    font-size: 1.6rem;
    margin: 0 12px;
    padding: 0 12px;
    font-weight: 600;
}

#section_header_1 .bottom-icons {
    margin-right: 72px;
}

#section_header_1 .bottom-icons li {
    display: inline-block;
    height: 100px;
    line-height: 100px;
    margin: 0 12px;
    color: #7f7f7f;
    font-size: 1.6rem;
}

#section_slider {
    background-color: #f3f3f3;
    height: 650px;
    width: 100%;
}

#section_slider .item {
    position: relative;
    height: 100%;
}

.container-item {
    position: absolute;
    width: 900px;
    left: 50%;
    top: 20%;
    transform: translateX(-50%);
    /* transform: translateY(-50%); */
}

#section_slider .item img{
    width: 900px;
    border-radius: 4px;
}


.carousel-caption {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    text-align: left;
    text-shadow: 1px 0 1px #000;
    font-size: 1.4rem;
    margin-left: 16px;
    width: 100%;
}

.carousel-caption h3 {
    font-size: 1.8rem;
    margin: 0;
}

.carousel-caption p {
    margin: 0 0 14px;
}

#section_gym_4 .gym_life{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    margin-bottom: 16px;
}

.gym_life .img_gym_st img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.gym_life .text_gym_style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
}

.part_st {
    text-align: center;
}

.gym_st {
    font-size: 1.4rem;
    font-weight: 700;
}

.gym_text {
    width: 50%;
    font-size: 1rem;
    color: #b7b0b3;
    line-height: 1.4;
    margin: 0;
}

.link_3_btn a {
    text-decoration: none;
    color: #fff;
    background-color: #f77825;
    padding: 6px 16px;
    border-radius: 4px;
}

#section_intro_title{
    background-color: #f3f3f3;
}

#section_intro_title .container {
    display: flex;
    justify-content: center;
}

#section_intro_title .container .one-third {
    margin: 8px 8px 48px;
    background-color: #fff;
    border: 1px solid #ccc;
    display: inline-block;
    width: 223px;
}

.big_title {
    font-size: 3rem;
    margin: 24px 0 0;
    color: #f77825;
}

.big_title.blue_text {
    color: #2dc0e8;
}

.flat_pricing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.light_gray {
    color: #999;
    font-size: 1.3rem;
}

.flat_pricing_list {
    padding: 0;
    list-style: none;
    color: #a3a9bd;
}

.flat_pricing_list li {
    margin: 0;
    font-size: 1.2rem;
}

.flat_pricing a {
    text-decoration: none;
    color: #fff;
    background-color: #f77825;
    padding: 12px 18px;
    border-radius: 4px;
    margin-bottom: 32px;
    font-size: 1.4rem;
    font-weight: 600;
}

.active_bg_open.blue_bg {
    background-color: #2dc0e8;
}

#section_party_3 {
    background-color: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe {
    background-color: #151515;
    border: 1px solid #272727;
    margin: 48px 0;
    height: 400px;
    width: 400px;
}

.headtext_style {
    font-size: 2rem;
    text-align: center;
    margin: 32px 0;
    color: #fff;
    position: relative;
}

.headtext_style::after {
    display: block;
    content: "";
    width: 64px;
    height: 5px;
    background-color: #1c8ff5;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
}

.subtext_style {
    color: #999;
    text-align: center;
    font-size: 1.5rem;
    margin: 42px 64px 32px;
}

#contact_form {
    display: flex;
    flex-direction: column;
}

.pix_text {
    height: 48px;
    margin: 12px;
    font-size: 1.4rem;
    border-radius: 4px;
    padding-left: 8px;
}

.subscribe_btn {
    background-color: #2678e7;
    color: #fff;
}

#section_party_4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #151515;
    color: #9d9d8c;
}

#section_party_4 .pix_text {
    font-size: 1rem;
}

#section_party_4 .pix_text .pixfort_st {
    color: #2678e7;
}

#section_party_4 .socbuttons {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

#section_party_4 .bottom-icons {
    list-style: none;
    padding: 0;
}

#section_party_4 .bottom-icons li {
    display: inline-block;
    margin: 0 4px;
}